.ql-editor {
  border: none;
  padding: 15px 0 0;
  min-height: 350px !important;
}

.ql-container.ql-snow {
  font-size: 1.15em;
  padding: 12px;
}

.ql-toolbar.ql-snow {
  background-color: #F3F6F8;
  padding: 14px;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  height: 26px;
  width: 26px;
}

.ql-snow .ql-picker {
  font-size: 15px;
}

.ql-editor.ql-blank::before {
  font-style: normal;
}